---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CardContainer from "../components/CardContainer.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import ProjectIcon from "../components/svgs/ProjectIcon.astro";
import AboutMeIcon from "../components/svgs/AboutMeIcon.astro";
import ExperienceIcon from "../components/svgs/ExperienceIcon.astro";
---

<Layout title="I am a failure.">
	<!--
// v0 by Vercel.
// https://v0.dev/t/lf8A7tRRElu
-->
	<Hero title="Hey, I am Dylan." body="Welcome to my portfolio."/>

	<CardContainer>
		<Card
			href="/i-am-a-failure/test"
			title="Projects"
			body="Here is a list of some of the projects I have worked on over the years. I have worked on a variety of projects, from web apps to games."
		>
			<ProjectIcon/>
		</Card>
		<Card
			href="#"
			title="Experience"
			body="I have learned a variety of programming languages and frameworks over time. I have also worked with a variety of different people."
		>
			<ExperienceIcon/>
		</Card>
		<Card
			href="#"
			title="About Me"
			body="Learn about me and my journey to becoming a programmer. I have learned a lot over the years and I am still learning. I am always looking for new things to learn."
		>
			<AboutMeIcon/>
		</Card>
	</CardContainer>
	<Footer>
		Thanks for reading. If you have any questons, feel free to message me
		<a
			href="mailto:djlevy26@gmail.com"
			class="text-gray-200 hover:text-gray-50 underline"
			>here
		</a>.
	</Footer>
</Layout>
