---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="I am a failure.">
    <Hero title="Hey, I am Dylan." body="Welcome to my portfolio." />
    <a
        href="/i-am-a-failure"
        class="text-gray-200 hover:text-gray-50 underline"
        >Back
    </a>.
</Layout>
