---
interface Props {
    title: string;
    body: string;    
}

const { title, body }: Props = Astro.props;
---
<div class="space-y-2" transition:animate="none">
    <h1
        class="text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none bg-clip-text text-transparent bg-gradient-to-r from-pink-300 to-indigo-400 pb-4"
    >
        {title}
    </h1><p
        class="max-w-[600px] text-zinc-200 md:text-xl dark:text-zinc-100 mx-auto"
    >
        {body}
    </p>
</div>