---
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="slide">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="I am a failure." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<section class="w-full py-6 md:py-12 lg:py-16 xl:py-24 h-screen flex justify-center" >
			<div class="container px-4 md:px-6">
				<div class="grid gap-6 items-center">
					<div class="flex flex-col justify-center space-y-8 text-center">
						<slot/>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
<style is:global>
	body {
		background: #000;
		font-family: 'Inter', sans-serif, system-ui;
	}
</style>
